nav{
    background-color: orange;
    padding: 1rem;
    text-align: center;
  }
nav a{
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large ;    
  }
header {
    background-color: orangered;
    color: white;
    text-align: center;
    padding: 1rem;
}
a:hover{
    color: black;
}
img{
    size: 500px;
    padding-bottom: 15%;
    padding-top: 50px;
}

.also{
    margin-bottom: 150px;
}

h1{
    text-align: center;
}

h2{
    font-weight: bold;
    width: 75%;
    margin-left: 100px;
    padding-bottom: 20px;
}


p{
    text-align: justify;
    width: 75%;
    margin-left: 100px;
}

h1,h2
{
margin-top: 5%;
margin-bottom: 5%;

}  
p{
    margin-top: 2%;
margin-bottom: 2%;
text-align: justify;
margin-left: 10%;
margin-right: 10%;
}
